.filters {
  background-color: var(--sub-bg-color);
}
.filters li {
  color: var(--main-text-color);
  text-transform: uppercase;
  margin-right: 1.5em;
  cursor: pointer;
}
.filters li.active,
.filters li:hover {
  color: var(--sub-text-color);
  text-transform: uppercase;
}
